@model ZB_FEPMS.Models.USER

@{
    if (Model != null)
    {
        <div id="expanderContent">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        @Html.Label("Username:", new { @Class = "control-label col-sm-2" })
                        <div class="col-sm-4">
                            <span style="border-bottom: 3px solid #CC4040;">
                                @Html.DisplayFor(model => model.Username, new { @Style = "Underline" })
                            </span>
                        </div>
                    </div>

                    <div class="row grid-row">
                        <label class="control-label col-sm-2">
                            Firstname:<span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Firstname)
                        </div>
                    </div>

                    <div class="row grid-row">
                        <label class="control-label col-sm-2">
                            Lastname:<span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Lastname)
                        </div>
                    </div>

                    <div class="row grid-row">
                        <label class="control-label col-sm-2">
                            ID No:<span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.IDNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.IDNo)
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="row">
                        <label class="control-label col-sm-2">
                            Title:<span class="required"></span>
                        </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>

                    <div class="row grid-row">
                        <label class="control-label col-sm-2">
                            Initial:<span class="required"></span>
                        </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Initial, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Initial)
                        </div>
                    </div>

                    <div class="row grid-row">
                        <label class="control-label col-sm-2">
                            Email:<span class="required"></span>
                        </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.EMail, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.EMail)
                        </div>
                    </div>

                    <div class="row grid-row">
                        <label class="control-label col-sm-2">
                            Status:<span class="required">*</span>
                        </label>
                        <div class="col-sm-4">
                            Active
                            @Html.RadioButtonFor(model => model.Inactive, "False"
                           , new { @checked = "true" })
                            Inactive
                            @Html.RadioButtonFor(model => model.Inactive, "True")
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}
