@{
    ViewBag.Title = "Manager Dashboard";
    Layout = "~/Views/Shared/_FEPMSLayout.cshtml";
}
<div class="row">


    @*<div class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">Fixed Asset Transfer</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("FixedAsset_Transfer_Auth_Source", "FixedAssetTransfer")">
                                You have<span class="badge">@ViewBag.FixedAssetTransferAuthOutgoingCount</span> outgoing Fixed Asset Transfers waiting confirmation.
                            </a>
                        </li>
                        <hr style="border-color: #aaa;" />
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("FixedAsset_Transfer_Auth_Destination", "FixedAssetTransfer")">
                                You have<span class="badge">@ViewBag.FixedAssetTransferAuthIncomingCount</span> incoming Fixed Asset Transfers waiting confirmation.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Fixed Asset Transfer</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("ReceiveTransferredFixedAsset", "FixedAssetTransfer")">
                                You have<span class="badge">@ViewBag.FixedAssetTransferReceivableCount</span> Fixed Asset Transfers waiting to be received.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

    @*<div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Consumable Items</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("Receive", "SIV")">
                                You have<span class="badge">@ViewBag.TotalIssuedQuantityConsumableItems</span> items waiting to be received.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Fixed Assets</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("Receive", "FixedAssetAllocation")">
                                You have<span class="badge">@ViewBag.TotalIssuedQuantityFixedAssets</span> items waiting to be received.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

</div>




<style type="text/css">
    /* Panel Primary Style */

    /*.panel-primary {
        border-color: #337ab7 !important;
    }

    .panel-heading {
        padding: 10px 15px !important;
        border-bottom: 1px solid transparent !important;
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
        font-size: 18px !important;
    }

    .panel-primary > .panel-heading {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }

    .panel-primary > .panel-body {
        background-color: #d9edf7 !important;
        font-size: 15px !important;
        font-weight: bold !important;
    }

    .panel-primary > .panel-footer {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
    }

        .panel-primary > .panel-footer a {
            color: #fff !important;
            align-content: center !important;
        }*/

    /* Panel Danger Style */
    /*.panel-danger {
        border-color: #a94442 !important;
    }

        .panel-danger > .panel-heading {
            color: #fff !important;
            background-color: #a94442 !important;
            border-color: #a94442 !important;
        }

        .panel-danger > .panel-body {
            background-color: #f2dede !important;
            font-size: 15px !important;
            font-weight: bold !important;
        }

        .panel-danger > .panel-footer {
            color: #fff !important;
            background-color: #a94442 !important;
            border-color: #a94442 !important;
        }

            .panel-danger > .panel-footer a {
                color: #fff !important;
                align-content: center !important;
            }


    .dashboard-list-header {
        padding-left: 10px !important;
    }

    .panel-body {
        min-height: 120px !important;
    }

    .dashboard-list-element {
        margin-bottom: 20px !important;
    }

    .badge {
        font-size: 15px !important;
        color: #fdf866 !important;
        background-color: green !important;
    }*/
</style>





