@{
    ViewBag.Title = "Officer Dashboard";
    Layout = "~/Views/Shared/_FEPMSLayout.cshtml";
}
<div class="row">


    @*<div class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">Fixed Asset Transfer</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("FixedAsset_Transfer_Auth_Source", "FixedAssetTransfer")">
                                You have<span class="badge">@ViewBag.FixedAssetTransferAuthOutgoingCount</span> outgoing Fixed Asset Transfers waiting confirmation.
                            </a>
                        </li>
                        <hr style="border-color: #aaa;" />
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("FixedAsset_Transfer_Auth_Destination", "FixedAssetTransfer")">
                                You have<span class="badge">@ViewBag.FixedAssetTransferAuthIncomingCount</span> incoming Fixed Asset Transfers waiting confirmation.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Fixed Asset Transfer</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("ReceiveTransferredFixedAsset", "FixedAssetTransfer")">
                                You have<span class="badge">@ViewBag.FixedAssetTransferReceivableCount</span> Fixed Asset Transfers waiting to be received.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

    @*<div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Consumable Items</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("Receive", "SIV")">
                                You have<span class="badge">@ViewBag.TotalIssuedQuantityConsumableItems</span> items waiting to be received.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Fixed Assets</div>
                <div class="panel-body">
                    <ul class="dashboard-list-header">
                        <li class="dashboard-list-element">
                            <a href="@Url.Action("Receive", "FixedAssetAllocation")">
                                You have<span class="badge">@ViewBag.TotalIssuedQuantityFixedAssets</span> items waiting to be received.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

</div>




<style type="text/css">
    /* Panel Primary Style */

</style>





