@model PagedList.IPagedList<ZB_FEPMS.Models.tblPermitAmount>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Purchase Order Permit Amount Update Approval";
    Layout = "~/Views/Shared/_FEPMSLayout.cshtml";
}

@if (TempData["sErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["sErrMsg"]</strong>
    </div>
}
else if (TempData["successMsg"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["successMsg"]</strong>
    </div>
}

<div class="panel panel-primary">
    <div class="panel-heading">Purchase Order Permit Amount Update Approval Form</div>
    <div class="panel-body">

        <div class="col-sm-12">

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Permit #</th>
                    <th>Currency Type</th>
                    <th>Current Amount</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    foreach (var itemModel in item.tblPermitAmountDetails)
                    {
                        <tr>
                            <td>
                            <span class="table-permit-number-style">
                                @Html.DisplayFor(modelItem => item.tblPermit.PermitNumber)
                                </span></td>
                            <td>@item.tblPermit.CurrencyType
                            </td>
                            <td>
                                @item.tblPermit.RemainingAmount.Value.ToString("N2")
                            </td>
                            <td>
                                @{
                                    <span>@itemModel.Amount.ToString("N2")</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("ApprovePurchaseOrderPermitAmountUpdate", "Merchant",
                            new { Id = item.Id })" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-share icon-white"></i>
                                    Action
                                </a>
                                <a class="POAmountUpdateApprovalFormViewDetail btn btn-sm btn-success"
                                   href="javascript:void(0);" data-id="@item.Id">
                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    Details
                                </a>
                            </td>
                        </tr>
                    }
                }

            </table>
            <br />
            Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount of @Model.TotalItemCount entries
            @Html.PagedListPager(Model, page => Url.Action("UpdatePurchaseOrderPermitAmount_Auth", new { page }))
        </div>
    </div>
</div>