@model ZB_FEPMS.Models.tblMerchant

<div class="row grid-row">
    <label class="control-label col-sm-2">
        Tin #:<span class="required"></span>
    </label>
    <div class="col-sm-4">
        <span class="label-underline-style">
            @Model.TinNumber
        </span>
    </div>
</div>

<div class="row grid-row">
    <label class="control-label col-sm-2">
        Importer Name:<span class="required"></span>
    </label>
    <div class="col-sm-10">
        <span class="label-underline-style">
            @Model.ImporterName
        </span>
    </div>
</div>

<div class="row grid-row">
    <label class="control-label col-sm-2">
        Trade Name:<span class="required"></span>
    </label>
    <div class="col-sm-10">
        <span class="label-underline-style">
            @Model.TradeName
        </span>
    </div>
</div>

<div class="row grid-row">
    <label class="control-label col-sm-2">
        NBE #:<span class="required"></span>
    </label>
    <div class="col-sm-4">
        <span class="label-underline-style"
              @Model.NBENumber
              </span>
    </div>
</div>

<div class="row grid-row">
    <label class="control-label col-sm-2">
        Mobile #:<span class="required"></span>
    </label>
    <div class="col-sm-4">
        <span class="label-underline-style">
            @Model.MobileNumber
        </span>
    </div>
</div>

<div class="row grid-row">
    <label class="control-label col-sm-2">
        Email Address:<span class="required"></span>
    </label>
    <div class="col-sm-4">
        <span class="label-underline-style">
            @Model.EmailAddress
        </span>
    </div>
</div>

<div class="row grid-row">
    <label class="control-label col-sm-2">
        Remark:<span class="required"></span>
    </label>
    <div class="col-sm-10">
        <span class="label-underline-style">
            @Model.Remark
        </span>
    </div>
</div>

